---
layout: default
title: Posts
---

<div id="home">
  <p>I am a Software Engineer.  I am currently employed at
    <a href='http://webkite.com'>WebKite</a>, where I write code in
    Ruby on Rails.  I've also been playing around
    with <a href='https://bitmessage.org'>bitmessage</a> on the side.
    </p>
  <h2><i class="icon-bookmark"></i> Software Projects</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
      {% if post.category == 'projects' %}
        <li><span> &raquo;</span>
          {% if post.link %}
            <a href="{{ post.link }}">{{ post.title }}</a>
          {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
          {% endif %}
          <small>{{ post.description }}</small></li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2><i class="icon-bookmark"></i>Blog Posts</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.posts %}
        {% if post.category == 'news' %}
        <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endif %}
    {% endfor %}
  </ul>


</div>
