---
layout: default
title: Posts
---

<div id="home">
  <p>Currently working on IoT embedded firmware and hardware at POMSafe and having fun with PCB redesigns, nRF chips, ZephyrOS, MQTT over LTE, GPS.</p>
    
  <h2><i class="icon-bookmark"></i> Software Projects</h2>
  <ul id="blog-posts" class="posts">
    {% assign ordered_projects = site.projects | sort: "display-order" %}
    {% for post in ordered_projects %}
      <li><span> &raquo;</span>
        {% if post.link %}
          <a href="{{ post.link }}">{{ post.title }}</a>
        {% else %}
          <a href="{{ post.url }}">{{ post.title }}</a>
        {% endif %}
        <small>{{ post.description }}</small></li>
    {% endfor %}
  </ul>

  <h2><i class="icon-bookmark"></i>Blog Posts</h2>
  <ul id="blog-posts" class="posts">
    {% for post in site.categories.news %}
        <li><span>{{ post.date | date_to_string }} &raquo;</span><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>


</div>
