<div id="stalker">

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="icon-rss-sign"></i>
  </a>

  {% if site.my_theme.social.github %}
  <a title="{{ site.my_theme.social.github }} on Github" href="http://github.com/{{ site.my_theme.social.github }}">
    <i class="icon-github-sign"></i>
  </a>
  {% endif %}

  {% if site.my_theme.social.hacker_news %}
  <a title="{{ site.my_theme.social.hacker_news }} on Hacker News" href="http://news.ycombinator.com/user?id={{site.my_theme.social.hacker_news }}">
    <i class="icon-sign-blank"></i>
    <span class="icon-overlay icon-hn">Y</span>
  </a>
  {% endif %}

  {% if site.my_theme.social.twitter %}
  <a title="{{ site.my_theme.social.twitter }} on Twitter" href="http://twitter.com/{{ site.my_theme.social.twitter }}">
    <i class="icon-twitter-sign"></i>
  </a>
  {% endif %}
  
  <a title='Contact Info' href='/contact/info.html'>
    <i class='icon-envelope'></i>
  </a>

</div>
