<div id="stalker">

  <a title="RSS feed" id="rss" href="/atom.xml">
    <i class="fas fa-rss"></i>
  </a>

  <a title='KC3MLC' href='https://www.qrz.com/db/KC3MLC'>
    <i class='fas fa-microphone'></i>
  </a>
  
  {% if site.my_theme.social.github %}
  <a title="{{ site.my_theme.social.github }} on Github" href="http://github.com/{{ site.my_theme.social.github }}">
    <i class="fab fa-github"></i>
  </a>
  {% endif %}

  <a title='Contact Info' href='/contact/info.html'>
    <i class='fas fa-envelope'></i>
  </a>

</div>
